<h1 class="mb-4">Stupid Coaching</h1>

<div class="border-5 border-start mb-3 ps-3 pt-1 pb-1">
  <p><%=@question%></p>
  <p>-<i>You</i></p>
</div>

<div class="bg-warning bg-opacity-25 border-5 border-start ps-3 pt-1 pb-1">
  <p><b><%=@answer%></b></p>
  <p>-<i>Your coach</i></p>
</div>
